{
    "bancho": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_IRC_PASSWORD",
        "apiKey": "YOUR_API_KEY"
    },
    "mode": 0,
    "username": "Nanotect_",
    "password": "YOUR_TMI_OAUTH"  
    "channels": {
        "nanotect_": "Suntury"
    }
}